@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
}

body,
.App {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
}

button {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: #08c;
}
button:hover {
  color: #04c;
}

.App {
  display: flex;
}

.sidebar {
  width: 30%;
  height: 100vh;
  border-right: 1px solid #ddd;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}
.sidebar-header h1 {
  margin: 0;
}

.sidebar-notes {
  height: 83vh;
  overflow-y: scroll;
}
.sidebar-note {
  padding: 25px;
  cursor: pointer;
}
.sidebar-note-title {
  display: flex;
  justify-content: space-between;
}
.sidebar-note button {
  color: crimson;
}
.sidebar-note p {
  margin: 9px 0;
}
.sidebar-note small {
  display: block;
  color: #999;
}

.sidebar-note:hover {
  background: #ddd;
}
.sidebar-note.active,
.sidebar-note.active small {
  background: #08c;
  color: white;
}

.main {
  width: 70%;
  height: 100vh;
  background-color: #f1c27d;
}
.main-note-edit{
  height: 55vh;
  background-color: #fff7db;
}

.main-note-preview{
  height: 45vh;
  background-color: #fff7db;
}

.main-note-preview {
  overflow-wrap: break-word;
}

.no-active-note {
  width: 70%;
  font-size: 2rem;
  color: #999;
  background-color: #fff7db;
}

.main-note-edit {
  padding: 15px;
  padding-top: 55px;
}

.main-note-edit input,
textarea {
  display: block;
  border: 1px solid #ddd;
  margin-bottom: 3px;
  width: 100%;
  height: 34vh;
  padding: 10px;
  resize: none;
  font-size: inherit;
  font-family: inherit;
}
.main-note-edit input {
  height: 50px;
  font-size: 1.7rem;
}

.main-note-preview {
  border-top: 1px solid #ddd;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.02);
}

.preview-title {
  padding: 25px 25px 0 25px;
  margin: 0;
  font-size: 1.7rem;
}

.markdown-preview {
  padding: 0 25px 25px 25px;
  font-size: 1rem;
  line-height: 2rem;
}

.search {
  padding-left: 1.5em;
  padding-bottom: 10px;
}

#search-input {
  border-radius: 5px;
  border-width: 2px;
  height: 30px;
  width: 15vw;
}

.main-note-edit textarea{
  resize: none;
}

.signup-login-body {
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Jost', sans-serif;
  background: linear-gradient(to bottom, #FFF7DB, #fbecb4);
  display: flex;
  flex-direction: column;
}

.signup-login-main {
  width: 350px;
  height: 68vh;
  background: #08c;
  overflow: hidden;
  background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/cover;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}

.signup-login-checkbox {
  display: none;
}

.signup-login-signup {
  position: relative;
  width: 100%;
  height: 100%;
}

.signup-login-label {
  color: rgb(0, 170, 255);
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.signup-login-input {
  width: 60%;
  height: 30px;
  background: white;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.signup-login-button {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: rgb(0, 170, 255);
  font-size: 1em;
  font-weight: bold;
  margin-top: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: .2s ease-in;
  cursor: pointer;
}

.signup-login-button:hover {
  background: #45a9e3;
}

.signup-login-login {
  height: 55vh;
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: .8s ease-in-out;
}

.signup-login-login .signup-login-label {
  color: rgb(0, 170, 255);
  transform: scale(.6);
}

.signup-login-checkbox:checked ~ .signup-login-main .signup-login-login {
  transform: translateY(-500px);
}

.signup-login-checkbox:checked ~ .signup-login-main .signup-login-login .signup-login-label {
  transform: scale(1);
}

.signup-login-checkbox:checked ~ .signup-login-main .signup-login-signup .signup-login-label {
  transform: scale(.6);
}
.Login_Logout_button{
  position: fixed;
  top: 5px;
  right: -30px;
  font-size: 16px;
}

.no-active-note-text{
  position: fixed;
  top: 45%;
  left: 55%;
}

#sign_in_button{
  background-color: #08c;
}

.forgot-password-button{
  position: relative;
  left: 108px;
}

.logo{
  top: 4vh;
  left: 4.8hh;
  font-weight: bold;
  width: 150px;
  padding-bottom: 60px;
}

.logo-sidebar{
  width: 120px;
}